<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Rechercher vue...">
      <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
    </div>
  </form>
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <!--<li class="header">MAIN NA
          hhVIGATION</li>-->
      <li class="treeview">
        <a>
          <i class="fa fa-folder"></i> <span>Menu</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let view of viewlist">
            <a routerLink={{view.progview}}>{{view.nameview}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
