.changecolor:hover{
    color: rgb(23, 15, 92);

}

.my-pagination /deep/ .ngx-pagination .current {
    background:#3C8DBC;

  }
  
  .paginationS{
      width: 900px;
      
  }

  .nameproducttd{


    white-space: nowrap; 
  width: 80px; 
  overflow: hidden;
  text-overflow: "..."; 
  display:inline-flex;
  white-space: nowrap;
}



.summarytd{


    white-space: nowrap; 
  width: 80px; 
  overflow: hidden;
  text-overflow: "..."; 
  display:inline-flex;
  white-space: nowrap;
        
   /* width: 100px;
    overflow: auto;
    display:inline-flex;
    white-space: nowrap;*/
    
      
}