<app-contentheader></app-contentheader>

<!--<app-datatabl></app-datatabl>-->
<!-- Main content -->
<div class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Ticket List</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-wrench"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a (click)="inverserSuppressionActive=!inverserSuppressionActive">
                {{inverserSuppressionActive ? 'Désac. suppr.' : 'Activer suppr.'}}</a>
            </li>
          </ul>
        </div>

        <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
      </div>
    </div>
    <!--fi
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Search by name Product" style="width: 300px" [(ngModel)]="searchTerm" />
    </div>-->
<!--begin try-->

    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th><input type="search" (input)="onFilterDate($event.target.value)" class="form-control input-sm"
                style="width:90px" placeholder="Date Submitted"></th>
              <th><input type="search" (input)="onFilterStatus($event.target.value)" class="form-control input-sm"
                style="width: 100px;" placeholder="Status"></th>
              <!--<th>Product
                    class="form-control input-sm" style="width: 100%;" tabindex="-1" aria-hidden="true">
                      <option  [value]="product.idproduct" *ngFor="let product of productlist ">{{product.nameproduct}}</option>
                    </select>
              </th>-->
              <th><input type="search" (input)="onFilterProduct($event.target.value)" class="form-control input-sm"
                style="width: 100%;" placeholder="Product"></th>
             <th><input type="search" (input)="onFilterExternalcodea($event.target.value)" class="form-control input-sm"
                style="width: 63px;" placeholder="ID Jira"></th>

              <th><input type="search" (input)="onFilterSummary($event.target.value)" class="form-control input-sm"
                style="width: 120px;" placeholder="Summary"></th>
              <th><input type="search" (input)="onFilterReporter($event.target.value)" class="form-control input-sm"
                style="width: 80px;" placeholder="Reporter"></th>
              <th><input type="search" (input)="onFilterProductversion($event.target.value)" class="form-control input-sm"
                style="width: 100px;" placeholder="Product Version"></th>
              <!-- <div class="form-group">
                  <label>Produit</label>
                  <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1"
                    aria-hidden="true"
                    (change)="onChangeNameproduct($event.target.value)">
                    <option  [value]="product.idproduct" *ngFor="let product of productList ">{{product.nameproduct}}</option>
                  </select>
                  <span class="select2 select2-container select2-container--default select2-container--focus select2-container--above"
                    dir="ltr" style="width: 100%;"><span class="selection"></span><span
                      class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>

              </th>-->
              <th><input type="search" (input)="onFilterResolution($event.target.value)" class="form-control input-sm"
                style="width: 80px;" placeholder="Resolution"></th>
                <th><input type="search" (input)="onFilterNewTest($event.target.value)" class="form-control input-sm"
                  style="width: 130px;" placeholder="New Test"></th>
                  <th><input type="search" (input)="onFilterTestName($event.target.value)" class="form-control input-sm"
                    style="width: 100px;" placeholder="Test Name"></th>
                    <th><input type="search" (input)="onFilterSlsCaseNumber($event.target.value)" class="form-control input-sm"
                      style="width: 150px;" placeholder="Salesforce Case Number"></th>
                      <th><input type="search" (input)="onFilterSlsCaseId($event.target.value)" class="form-control input-sm"
                        style="width: 150px;" placeholder="Salesforce Case Id"></th>
              
              <!--<th>Date Version</th>-->
              <th *ngIf="inverserSuppressionActive">Supp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of ticketlist | ticketFilter:searchTermn | paginate : { itemsPerPage: 5, currentPage: p } ">
              <td>{{ticket.dateticket}}</td>
              <td>{{ticket.vocticketstatus.nameword}}</td>
              <!--name product as a list to use it later-->
              <!-- <td >
                      <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1"
                        aria-hidden="true"
                        (change)="onChangeNameproduct($event.target.value)">
                        <option  [value]="product.idproduct" *ngFor="let product of productList ">{{product.nameproduct}}</option>
                      </select>
              </td>-->
              <!--<td><a routerLink="/product" [queryParams]="{ id: product.idproduct}">{{product.nameproduct}}</a></td>-->

              <td><a class="changecolor" routerLink="/ticket/{{ticket.idticket}}" data-toggle="popover" title="Modify ticket"
                  data-content="Some content inside the popover"  >{{ticket.tproduct.nameproduct}}</a></td>
              <td>

                <!--2eme possibilité
                 routerLink="/ticket"  [queryParams]="{ id: ticket.idticket}"-->
                <!--<div class="group">
                      <input #name matInput/>
                      <a (click)="editName()">{{ticket.externalcodea}}</a>-->
                {{ticket.externalcodea}}
              </td>

              
              
                  
               
                <td><div class="md-form">
                    <textarea type="text" class="md-textarea form-control" rows="2">{{ticket.summary}}</textarea> </div></td>
             <!-- <td><textarea style="width: 120px">{{ticket.summary}}</textarea></td>-->
              <td>{{ticket.treporter.tperson.nameperson | uppercase}}</td>
              <td>{{ticket.tproductversion.numberversion}}</td>
              <td>{{ticket.vocticketresol.nameword}}</td>

<!--<td>{{ticket.tproductversion.dateversion}}</td>-->

              <!--<td> <a routerLink="/product/{{vocav.idproduct}}">Modify</a></td>-->
              <td *ngIf="inverserSuppressionActive">
                <!-- Button trigger modal -->
                <button (click)="selectedTicket=ticket" type="button" class="btn btn-default" data-toggle="modal"
                  data-target="#suppr">
                  Supp
                </button>

                <!--<a (click)="supprimer(ticket.idticket)" class="btn btn-sm btn-default btn-flat">
                  Del</a>
                -->
              </td>
            </tr>
          </tbody>



          
                    
        </table>
        <div style="padding-left: 700px">
        <pagination-controls  class="my-pagination" (pageChange)="p = $event"
          autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>     
      </div>

      <!--<div style="padding-left:600px " class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous">
          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li>
          <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li>
          <li class="paginate_button "><a href="http://localhost:4200/ticketlist" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li>
          <li class="paginate_button "><a href="http://localhost:4200/ticketlist" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li>
          <li class="paginate_button "><a href="http://localhost:4200/ticketlist" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li>
          <li class="paginate_button "><a href="http://localhost:4200/ticketlist" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li>
          <li class="paginate_button "><a href="http://localhost:4200/ticketlist" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li>
          <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li>
        </ul>
        
      </div>-->







      <!-- /.table-responsive -->
    </div>
    <!-- <div>
        <mat-radio-group>
            <mat-radio-button value="1" >Option1</mat-radio-button>
            <mat-radio-button value="1" >Option1</mat-radio-button>
          </mat-radio-group>
    </div>-->
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a routerLink="/ticket" class="btn btn-sm btn-info btn-flat pull-left">Ajouter ticket</a>
    </div>

    <!--<div class="box-footer clearfix">
      <a routerLink="/ticket" class="btn btn-sm btn-info btn-flat pull-left">Edit ticket</a>
    </div>-->
    <!-- /.box-footer -->
    <!-- /.box-footer -->
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="suppr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
      </div>
      <div class="modal-body">
        Voulez vous supprimer le ticket
        {{selectedTicket == null ? '' : selectedTicket.summary}} du produit
        {{selectedTicket == null ? '' : selectedTicket.tproduct.nameproduct}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="supprimer(selectedTicket.idticket)" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>
<!--<app-confirm-modal cid="suppr" ctitle="Confirmation de suppression" cmessage="Voulez vous supprimer ce ticket"></app-confirm-modal>-->
