
<app-contentheader></app-contentheader>
<!--<app-datatabl></app-datatabl>-->
<!-- Main content -->
<div class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Liste des tickets</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-wrench"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a (click)="inverserSuppressionActive=!inverserSuppressionActive">
                {{inverserSuppressionActive ? 'Désac. suppr.' : 'Activer suppr.'}}</a>
            </li>
          </ul>
        </div>

        <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search by name Product" style="width: 300px" [(ngModel)]="searchTerm" />
    </div>







    

    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
<table #dataTable class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Product
              
                <div class="form-group">
                  <!--<label>Minimal</label>-->
                  <select (change)="onFilterIdproduct($event.target.value)"
                  class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option></option>
                    <option  [value]="product.idproduct" *ngFor="let product of productlist ">{{product.nameproduct}}</option>
                  </select>
                  <!--<span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-xzb0-container"><span class="select2-selection__rendered" id="select2-xzb0-container" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
                </div>
            </th>
            <th>ID(Jira)</th>
              <th>summary</th>
              <th>Reporter</th>
              <th>Product Version</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of ticketlist | ticketFilter:searchTerm">
          <td>{{ticket.dateticket}}</td>
          <td>{{ticket.vocticketstatus.nameword}}</td>
          <!--name product as a list to use it later-->
          <!-- <td > 
                  <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1"
                    aria-hidden="true"
                    (change)="onChangeNameproduct($event.target.value)">
                    <option  [value]="product.idproduct" *ngFor="let product of productList ">{{product.nameproduct}}</option>
                  </select>
          </td>-->
          <td><a class="changecolor" routerLink="/ticket/{{ticket.idticket}}" data-toggle="popover" title="Modify ticket"
              data-content="Some content inside the popover">{{ticket.tproduct.nameproduct}}</a></td>
          <td>
            <!--<div class="group">
                  <input #name matInput/>
                  <a (click)="editName()">{{ticket.externalcodea}}</a>-->
            {{ticket.externalcodea}}
          </td>
          <td>{{ticket.summary}}</td>
          <td>{{ticket.treporter.tperson.nameperson | uppercase}}</td>
          <td>{{ticket.tproductversion.numberversion}}</td>
          <td>{{ticket.vocticketresol.nameword}}</td>

<!--<td>{{ticket.tproductversion.dateversion}}</td>-->

          <!--<td> <a routerLink="/product/{{vocav.idproduct}}">Modify</a></td>-->
          <td *ngIf="inverserSuppressionActive">
            <!-- Button trigger modal -->
            <button (click)="selectedTicket=ticket" type="button" class="btn btn-default" data-toggle="modal"
              data-target="#suppr">
              Supp
            </button>

            <!--<a (click)="supprimer(ticket.idticket)" class="btn btn-sm btn-default btn-flat">
              Del</a>
            -->
          </td>
        </tr>
      </tbody>
  </table>
  
</div>
<!-- /.table-responsive -->
</div>
<!-- <div>
  <mat-radio-group>
      <mat-radio-button value="1" >Option1</mat-radio-button>
      <mat-radio-button value="1" >Option1</mat-radio-button>
    </mat-radio-group>
</div>-->
<!-- /.box-body -->
<div class="box-footer clearfix">
<a routerLink="/ticket" class="btn btn-sm btn-info btn-flat pull-left">Ajouter ticket</a>
</div>

<!--<div class="box-footer clearfix">
<a routerLink="/ticket" class="btn btn-sm btn-info btn-flat pull-left">Edit ticket</a>
</div>-->
<!-- /.box-footer -->
<!-- /.box-footer -->
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="suppr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
</div>
<div class="modal-body">
  Voulez vous supprimer le ticket
  {{selectedTicket == null ? '' : selectedTicket.summary}} du produit
  {{selectedTicket == null ? '' : selectedTicket.tproduct.nameproduct}} ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
  <button type="button" (click)="supprimer(selectedTicket.idticket)" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
</div>
</div>
</div>
</div>