<app-contentheader></app-contentheader>

<!-- Main content -->
<div class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Liste des product</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-wrench"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a (click)="inverserSuppressionActive=!inverserSuppressionActive">
                {{inverserSuppressionActive ? 'Désac. suppr.' : 'Activer suppr.'}}</a>
            </li>
          </ul>
        </div>

        <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Etat</th>
              <th *ngIf="inverserSuppressionActive">Supp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productlist">
              <td><a routerLink="/product" [queryParams]="{ id: product.idproduct}">{{product.nameproduct}}</a></td>
              <td>{{product.enabledproduct}}</td>
              <!--<td> <a routerLink="/product/{{vocav.idproduct}}">Modify</a></td>-->
              <td *ngIf="inverserSuppressionActive"> <a (click)="supprimer(product.idproduct)"  class="btn btn-sm btn-default btn-flat">
                Del</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a routerLink="/product" class="btn btn-sm btn-info btn-flat pull-left">Ajouter product</a>
    </div>
    <!-- /.box-footer -->
    <!-- /.box-footer -->
  </div>
</div>
